main > div > header {
    background: #FFF;
}

main > div > header > h1 {
    color: var(--cyan);
    font-weight: var(--fw-bold);
}

main > div > header > h2 {
    color: var(--bright-yellow);
    font-weight: var(--fw-bold);
}

main > div > header > p {
    color: var(--grayish-blue);
    font-weight: var(--fw-bold);
}

main > div > div > div:nth-child(1) {
    background-color: var(--cyan);
}

main > div > div > div:nth-child(1) > h3 {
    color: #FFF;
    font-weight: var(--fw-bold);
}

main > div > div > div:nth-child(1) > div > p:nth-child(1) > span {
    color: rgba(255, 255, 255, .5);
    font-weight: var(--fw-regular);
}

main > div > div > div:nth-child(1) > div > p:nth-child(2) {
    color: rgba(255, 255, 255, .7);
    font-weight: var(--fw-regular);
}

main > div > div > div:nth-child(1) > button {
    background-color: var(--bright-yellow);
    font-weight: var(--fw-bold);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main > div > div > div:nth-child(2) {
    background-color: rgba( 42, 178, 175, 0.7 );
}

main > div > div > div:nth-child(2) > p {
    font-weight: var(--fw-bold);
}

main > div > div > div:nth-child(2) > ul > li {
    color: rgba(255, 255, 255, .6);
    font-weight: var(--fw-regular);
}