@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    /* Colors */

    --cyan: hsl( 179, 62%, 43% );
    --bright-yellow: hsl( 71, 73%, 54% );

    --light-gray: hsl( 204, 43%, 93% );
    --grayish-blue: hsl( 218, 22%, 67% );

    /* Font Size */

    --ff: 16px;

    /* Font Family */

    --ff-karla: 'Karla', sans-serif;

    /* Font Weights */

    --fw-regular: 400;
    --fw-bold: 700;

}

body {
    background: var(--light-gray);
    font-size: var(--ff);
    font-family: var(--ff-karla);
    display: flex;
    flex-direction: column;
    justify-content: center;
}